#h3 {
    color: #003366;
}

#pageheader {
    color: #003366;
    text-align: center;
}

#img {
height: auto;
width: 100%;
}

#imageCaption {
    color: #FFFFFF;
    background-color: #003366;
}

#p {
    color: #003366 
}
