#h3 {
    color: #003366;
}

#pageheader {
    color: #003366;
    text-align: center;
}

#imageThumb {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

#imageCaption {
    color: #FFFFFF;
    background-color: #003366;
}

#p {
    color: #003366 
}
